<p>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="toolbar no-select" routerLink="base">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        <span>My Application</span>
      </div>
      <span class="example-spacer"></span>
      <nav class="toolbar no-select">
        <mat-icon aria-hidden="false" fontIcon="shopping-basket"></mat-icon>
        <a routerLink="">base</a>
        <a routerLink="basket" class="cursor-pointer">basket</a>
        <a routerLink="products" class="cursor-pointer">products</a>
      </nav>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

