.footer {
    position: fixed;
    bottom: 0;
}

.example-spacer {
    flex: 1 1 auto;
}

.footer {
    display: flex;
    align-items: center;
}

.no-select {
    cursor: pointer;
    user-select: none;
}